<h1>Loan Payment Calculation</h1>

<p>APR: <%= @formatted_apr %>%</p>
<p>Years: <%= @years %></p>
<p>Principal: <%= @formatted_principal %></p>

<h2>Monthly Payment: <%= @formatted_payment %></h2>

<a href="/payment/new">Back</a>
