<h1>Loan Payment Calculator</h1>

<form action="/payment/results">
  <label for="apr">APR:</label>
  <input type="text" id="apr" name="apr">

  <label for="years">Number of years:</label>
  <input type="text" id="years" name="years">

  <label for="principal">Principal:</label>
  <input type="text" id="principal" name="principal">

  <button type="submit">Calculate monthly payment</button>
</form>
