<h1>Random Number Generator</h1>

<form action="/random/results">
  <label for="min">Minimum:</label>
  <input type="text" id="min" name="min">

  <label for="max">Maximum:</label>
  <input type="text" id="max" name="max">

  <button type="submit">Generate Random Number</button>
</form>
