<h1>Square Root Calculator</h1>

<form action="/square_root/results">
  <label for="number">Enter a number:</label>
  <input type="text" id="number" name="number">
  <button type="submit">Calculate square root</button>
</form>
