<h1>Square Calculator</h1>

<form action="/square/results">
  <label for="number">Enter a number:</label>
  <input type="text" id="number" name="number">
  <button type="submit">Calculate square</button>
</form>
